body{
   
  background-color: #000000;
  text-transform: uppercase;
}

.comic-list{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100vh;
  
}
.comic-card{
   
    height:450px ;
    width: 310px;
    transform: scale(0.7);
    border-radius:8px;
   
    
    &__image{
        height:350px;
        width:250px;
    }
    &__info{
        display: flex;
        width:100%;
        height:100%;
        padding:1rem;
        background-color:#fdff6e;
        justify-content:center;
        border-radius:8px;
        // box-shadow:0 0 10px 1px rgb(170, 34, 34);
    }
    &__hero{
        font-size: 25px;
        font-weight:600 ;
        color: #000000;
        position:absolute;
        top:70px;
        letter-spacing:2px;
        &::first-letter{
            text-transform: uppercase;
        }
    }
    &__name{
        font-size: 18px;
        
        color: #000000;
        position:absolute;
        top:140px;
        letter-spacing:2px;
        &::first-letter{
            text-transform: uppercase;
        }
    }
    &__divider{
        background-color:#000000;
        height:0.5px;
        width: 120px;
        position:absolute;
        top:190px;
    }
    &__bio{
        position:absolute;
        top:185px;
        color:#000000;
        line-height: 22px;
        font-size: 18px;
        
        padding:1rem;
        &::first-letter{
            text-transform: uppercase;
        }
    }
    &__button{
        position:absolute;
        bottom:20px;
        background-color:rgb(0, 0, 0);
        color:yellow;
        padding: 13px 25px;
        border:none;
        width:80%;
        cursor:pointer;
        transition:0.5s;
        &::first-letter{
            text-transform: uppercase;
        }
        &:hover{
            background-color:rgb(255, 30, 30);
            color:rgb(255, 255, 255);
        }
    }
    &__image{
        padding:1rem;
        height:100%;
        width:100%;
        background-repeat: no-repeat;
        position:absolute;
        bottom:0;
        background-size: 100% 100%;
        border-radius:8px;
        transition: 1s;
    }

    &__footerInfo{
        position:absolute;
        box-shadow: -70px;
        color:rgb(252, 133, 133);
        font-size:18px;
        &::first-letter{
            text-transform:uppercase;
        }
    }
    
}

.comic-card:hover .comic-card__image{
    transform:scale(0.5, 0.35) translateY(-650px);
    border-radius:50%;
    background-size: 100% 150%;
    background-position:0 -25px;
    border:4px solid rgb(255, 11, 11);
}
span{
    color:rgb(194, 86, 86);
}
