@import './components/ComicList/comic-Style';
@import './components/Comicbar/Comicbar.scss';
@import './components/carrouselimg/carrousel.scss';
@import './pages/Register/RegisterStyle.scss';
@import './components/FooterMarvel/FooterMarvel.scss';
@import './pages/Register/DcComics/DcComicsStyle.scss';
.App {
  
  font-family: 'Righteous', cursive;
}
body{
  margin: 0;
  padding: 0;
}